<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
        <div class='category'>
            <h1>Error 404</h1>
            <h3><%=message%></h3>
        </div>
        </div>
    </body>
</html>
