<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
            <div class='category'>
            <div class="title-section"><h4> <%= title %> </h4></div>
                <%if (developers.length) {%>
                    <%developers.forEach((developer) => {%>
                        <p><a href="/developers/<%= developer.id %>"><%= developer.name%></a></p>
                    <%})%>
                <%} else {%>
                    <h4>Developer list empty</h4>
                <%}%>
            </div>
        </div>
    </body>
</html>
