<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
            <div class='category'>
            <h4> <%= title %> </h4>
                <%if (genres) {%>
                    <%genres.forEach((genre) => {%>
                        <p><a href="/genres/<%= genre.id %>"><%= genre.name %></a></p>
                    <%})%>
                <%} else {%>
                    <h4>No genres</h4>
                <%}%>
            </div>
        </div>
    </body>
</html
