<!doctype html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <div class='category-list'>
            <div class='category'>
            <div class="title-section"><h4> Updating genre</h4></div>
            <form method="POST">
                <div class="form-row">
                <label for="name">Genre name: </label>
                <input name="name" type="text" value="<%=genre.name || ''%>"></input>
                </div>
                <%if (locals.errors) {%>
                <div class="errors-section section">
                    <%errors.forEach((error) => {%>
                        <p><%= error.msg%></p>
                    <%})%>

                </div>
                <%}%>
                <button>Update genre</button>
            </form>
            </div>
        </div>
    </body>
</html>
