* {
  padding: 0;
  margin: 0;
}

.category-list {
  display: flex;
  /* width: 100%; */
  gap: 4rem;
  justify-content: space-around;
  padding: 3rem 2rem 0 2rem;
}

.category {
  flex: 1 1 auto;
  min-width: 300px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.title-section {
  background-color: lightgrey;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 1.2rem;
  display: flex;
  align-items: center;
}

.title-section > h4 {
  flex: 1 1 auto;
}

.title-section button {
  padding: 0;
  margin: 0;
}

.category > p {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.category > p > a {
  flex: 1 1 auto;
}

.category > p:nth-child(2n + 1) {
  background-color: #eaeaea;
}

.category button {
  margin: 0.5rem;
  padding: 0.2rem;
}

.category > a {
  /* justify-self: center; */
  margin: 0 auto;
  /*   padding: 0.5rem; */
}

.category > form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 12px;
}

.checkbox-container {
  max-height: 200px;
  overflow: scroll;
  border-radius: 2px;
  border: 1px solid #000;
  padding: 0.5rem;
}

.form-row > select {
  padding: 2px;
}
